
<% if loged_in? %>

<section id="col-izq">
  
  <%= render 'shared/col_izq' %>

</section><!--  
--><section id="col-central">

  <%= render 'shared/menu_principal' %>

  <header id="titulo-central" >
    <h3>
      <!-- Feeds ?? -->
      Lugares de la semana --
    </h3>                
  </header>

</section><!--  
--><section id="col-der">
    
    <%= render 'shared/col_der' %>
      
  </section>

<% else %>

  <%= link_to "Registrate", signup_path, class: "btn" %>

<% end %>