 <% if comment.content %>
 <article class="comentario" >
  <p>
    <%= comment.content %>
    <strong>
    <p>
    id:<%= comment.id %> 
    -place_name:<%= comment.place.name unless comment.place.nil? %>
    -user_id:<%= comment.user.id  unless comment.user.nil?  %>
    </p>
    </strong>
  </p>
</article>
<% end -%>