   <!-- aca las columnas izquierda, centro y derecha -->
   <section id="col-izq">
       <!-- columna izquierda - foto del usuario o lugar  y una pequenia descripcion -->
      <header id="header-izq">
          <div class="in-header-izq">
              <div class="cell-foto"><a href="#" class="anchor-cell-foto">img</a></div>
              <div class="cell-usuario"><a href="#" class="anchor-cell-usuario">Usuario</a></div>
          </div>
      </header>

      <aside id="datos-usuario-izq">
          <!-- no se si esto se va a quedar -->
      </aside>
   </section><!-- 
--><section id="col-central">
       <!-- colmuna central - contenida de la pagina -->
       <nav id="menu-principal">
           <ul>
               <li><%= link_to "Inicio", @user %></li>
               <li><a href="#">Agenda</a></li>
               <li><a href="#">To Go</a></li>
               <li><a href="#">Fotos</a></li>
               <li class="active"><%= link_to "Perfil", perfil_path(@user) %></li>
           </ul>
       </nav>

       <header id="titulo-central" >
           <h2>
               Perfil
           </h2>

           <div id="editar">Editar Perfil</div>                
       </header>
       <article id="perfil" class="perfil">
           <div id="map"></div>
           <div id="wrap-map" class="box-dato-perfil">
               <h4>
                   Vivo en
               </h4>
               <span class="dato-perfil">Cochabamba</span>
           </div>
           <div id="wrap-nombre" class="box-dato-perfil">
               <h4>
                   Nombre 
               </h4>
               <spam class="dato-perfil" >Usuario Prueba</span>
           </div>
           <div id="wrap-email" class="box-dato-perfil">
               <h4>Email</h4>
               <span class="dato-perfil"> <%= @user.email %> </span>
           </div>
       </article>
       
   </section><!--
--><section id="col-der">
       <!-- columna derecha - links a lugares favoritos y recomendados -->
       <div class="in-col-der">
           <aside id="sitios-interesantes" class="box-col-der">
               <h4>
                   Sitios Interesantes
               </h4>
               <nav>
                   <ul>
                       <li><a href="#">sitio1</a></li>
                       <li><a href="#">sitio 2</a></li>
                       <li><a href="#">sitie 3</a></li>
                       <li><a href="#">sitie 4</a></li>
                       <li><a href="#">sitie 5</a></li>
                   </ul>
               </nav>
           </aside>

           <aside id="novedades" class="box-col-der">
               <h4>
                   Novedades
               </h4>
               <nav>
                   <ul>
                       <li><a href="#">sitio1</a></li>
                       <li><a href="#">sitio 2</a></li>
                       <li><a href="#">sitio 3</a></li>
                       <li><a href="#">sitio 4</a></li>
                       <li><a href="#">sitio 5</a></li>
                   </ul>
               </nav>
           </aside>
       </div>
   </section>