   <section id="col-izq">
       <!-- columna izquierda - foto del usuario o lugar  y una pequenia descripcion -->
      <header id="header-izq">
          <div class="in-header-izq">
              <div class="cell-foto"><a href="#" class="anchor-cell-foto">img</a></div>
              <div class="cell-usuario"><a href="#" class="anchor-cell-usuario">Usuario</a></div>
          </div>
      </header>

      <aside id="datos-usuario-izq">
          <!-- no se si esto se va a quedar -->
          <%= @user.email %>
      </aside>
   </section><!-- 
--><section id="col-central">
       <!-- colmuna central - contenida de la pagina -->

      <%= render 'shared/menu_principal' %>

      <header id="titulo-central" >
          <h3>
              Novedades
          </h3>                
      </header>

      <div class="add-comment" id="add-comment">
        <%= render 'shared/comment_form' %>
      </div>

      <% if @user.comments.any? %>
        <%= render @comments %>
      <% end %>
       
   </section><!--
--><section id="col-der">
       <!-- columna derecha - links a lugares favoritos y recomendados -->
       <div class="in-col-der">
           <aside id="sitios-interesantes" class="box-col-der">
               <h4>
                   Sitios Interesantes
               </h4>
               <nav>
                   <ul>
                       <li><a href="#">sitio1</a></li>
                       <li><a href="#">sitio 2</a></li>
                       <li><a href="#">sitie 3</a></li>
                       <li><a href="#">sitie 4</a></li>
                       <li><a href="#">sitie 5</a></li>
                   </ul>
               </nav>
           </aside>
           <aside id="novedades" class="box-col-der">
               <h4>
                   Novedades
               </h4>
               <nav>
                   <ul>
                       <li><a href="#">sitio1</a></li>
                       <li><a href="#">sitio 2</a></li>
                       <li><a href="#">sitio 3</a></li>
                       <li><a href="#">sitio 4</a></li>
                       <li><a href="#">sitio 5</a></li>
                   </ul>
               </nav>
           </aside>
       </div>
   </section>