<footer class="footer">
    <!-- pie de pagina, con links y creditos -->
    <p>
        <a href="#">MEMI</a>
        <a href="#">FCYT</a>
        <a href="#">Universidad Mayor de San Simon</a>
        <a href="#">Google Maps API v3</a>
        <a href="#">Edmundo Figueroa</a>
    </p>
    <%= current_place.id if current_place %>
</footer>