<header class="header">

    <div id="top-decoracion" class="top-decoracion" >
        <!-- imagen decorativa superior -->
    </div>

    <nav id="top-menu" class="top-menu" >
        
        <ul>
            <li><%= link_to "Entrar", "#", class: "top-menu-item" %></li>
            <li class="top-menu-item"><a href="#">Usuario</a></li>
            <li class="top-menu-item"><a href="#">Salir</a></li>
        </ul>

    </nav>
<!-- 
    <h1>
        Proyecto Final
    </h1>
    <h2>
        by Edmundo Figueroa
    </h2>
-->

</header>