<header class="header">

    <div id="top-decoracion" class="top-decoracion" >
        <!-- imagen decorativa superior -->
    </div>

    <nav id="top-menu" class="top-menu" >
        
        <ul>
            <% if loged_in? %>
                <li class="top-menu-item"><a href="#">Usuario</a></li>
                <li class="top-menu-item"><%= link_to "Salir", logout_path, method: :delete %></li>
            <% else %>
                <li class="top-menu-item"><%= link_to "Login", login_path %></li>
            <% end %>
        </ul>

    </nav>
<!-- 
    <h1>
        Proyecto Final
    </h1>
    <h2>
        by Edmundo Figueroa
    </h2>
-->

</header>